[submodule "thirdLib/QXlsx"]
	path = thirdLib/QXlsx
	url = https://github.com/QtExcel/QXlsx.git
[submodule "thirdLib/ElaWidgetTools"]
	path = thirdLib/ElaWidgetTools
	url = https://github.com/xutongxin1/ElaWidgetTools.git